    @import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Zen+Antique&display=swap');
*{
    margin: 0;
    padding: 0;
}
.body{
    background: black;
    height: 100vh;
    width: 100vw;
    flex-wrap: wrap;

}
.intro
{
    /* background: yellow; */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 8rem;

}
.myinfo{
    color: white;
    display: flex;
    flex-direction: column;
    padding: 3px;
    font-family: 'Press Start 2P', cursive;
}
.myinfo p{
    padding: 13px;
}
#name{
    color: #fff;
    text-shadow:
        0 0 7px #132efe,
        0 0 10px #132efe,
        0 0 21px #132efe,
        0 0 42px lightskyblue,
        0 0 82px lightskyblue,
        0 0 92px lightskyblue;
        /* 0 0 102px #0fa; */
        /* 0 0 151px #0fa; */
    font-size: 3rem;
    font-family: 'Zen Antique', serif;
}

.mypic img{
   
    border: 0.2rem solid #fff;
  border-radius: 2rem;
  padding: 0.5rem;
  box-shadow: 0 0 .2rem #fff,
            0 0 .2rem #fff,
            0 0 2rem #132efe,
            0 0 0.8rem #132efe,
            0 0 2.8rem #132efe,
            inset 0 0 1.3rem #132efe; 


    height: 36rem;
    width: 27rem;
}

.btnofintro{
    display: flex;
    margin-top: 2rem;    
}
.myinfo button{

    margin-left: 1rem;
    padding: 10px;
    color: white;
    background-color:royalblue;
    border: 3px solid black;
    border-radius: 23px;
    width: 8rem;
    font-size: 1rem;
    font-weight: bolder;
    cursor: pointer;
}
.myinfo button:hover{
    background-color: white;
    color: royalblue;
}


                                                       @media screen and (max-width: 900px) {

    .intro{
        display: flex;
        flex-direction: column-reverse;
        margin-top: 4rem;
    }
    .mypic img{
        /* border: 2px solid red; */
        height: 18rem;
    }
    #name{
        font-size: 2.3rem;
    }
    .sidebar{
        position: absolute;
        /* height: 100vh; */
        width: 40vw;
        background: pink;
        display: flex;
        flex-direction: column;
        align-items: center;
        transition:transform 0.3s ease-in;
    }
    .cross{
        margin-left: 15rem;
        margin-top: 8px;
    }
    .socials{
        display: flex;
        /* flex-direction: column; */
        flex-wrap: wrap;
        margin-top: 4vh;
    }
    .socials a ul{
        margin-left: 1rem;
        margin-top: 10px;
    }
    .socials a ul img{
        height: 2rem;
        width: 2rem;   
    }
    .btnofintro{
        display: flex;
        margin-top: 2rem;
        margin-left: 3rem;
        margin-bottom: 2rem;
    }
                                           /* css for mobile connectpage start here */
    .connectpage{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 10vw;
        margin-top: 6rem;
    
    }
    .connectpage h2{
        width: 21rem;
        padding: 0;
        margin-left: 20rem;
    }
    .form{
        margin-left: 18rem;
    }
    .form .inputs{
        width: 17rem;
    }
    .checkbox{

        width: 23rem;
        margin-top: 13px;
        margin-left: 22rem;
    
    }
    #btnsubmit{
        margin-top: 23px;
        margin-left: 19rem;
        /* padding: 13px; */
        width: 8rem;

        background-color:rgb(88, 123, 227);
        border: 3px solid black;
        border-radius: 23px;
        font-size: 1rem;
        font-weight: bolder;
        cursor: pointer;    
    }
  }
