@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zen+Antique&display=swap');
*{
    margin: 0;
    padding: 0;
}

.connectpage{
    background-color: gainsboro;
    display: flex;
    flex-direction: column;
    /* height: 100vh; */
    width: 100vw;
    margin-top: 10rem;

}
h2{
    margin-left: 37rem;


}
.form{
    border: 2px solid red;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* padding: 2rem; */
    
}
.form input{
    border: 2px solid black;
    width: 25vw;
    margin: 1rem;
    padding: 0.6rem;
}
.checkbox{
    display: flex;
    border: 2px solid green;
    align-items: center;
    justify-content: center;
}
#btnsubmit{
    /* width: 30px; */
    /* margin-top: 13px; */
    /* margin-left: 38rem; */
}