*{
    margin: 0;
    padding: 0;
}
.main{
    display: flex;

}

.hamburger{
    position: absolute;
    display: flex;
    justify-content: space-around;
    height: 1rem;
    width: 1rem;
    cursor: pointer;
}

.ham{
    position: absolute;
    /* margin-right: 106px;    */
    /* padding: 13px; */
    margin-left: 23px;
    margin-top: 23px ;
}
.cross{
    margin-left: 17rem;
    margin-top: 23px;
    transition:transform 0.3s ease-out;
    transition:transform 0.3s ease-in;
}

.sidebar{
    position: absolute;
    height: 100vh;
    width: 12vw;
    background: pink;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition:transform 0.3s ease-in;
}
.sidebargo{
    transform: translate(-400px,0px);
    position: absolute;
}

#logo{
    margin-left: 19px;
    font-size: 2rem;
    margin-top: 6vh;
}
.navbar ul{
    display: flex;
    flex-direction: column;
    /* margin-top: 110px; */
    margin-top: 10vh;
    list-style: none;
    font-size: 1.5rem;
    font-weight: bolder;
    

}
.navbar ul li{
    margin: 32px;
}
.navbar ul li a{
    text-decoration: none;
    color: black;
}
.navbar ul li a:hover{
    color: white;
}


.socials{
    display: flex;
    margin-top: 18vh;
}
.socials ul{
    padding-left: 14px;
}
.socials a img:hover{
    height: 26px;
    width: 26px;
}

